<!-- heading starts here -->
<div class="heading">
    <h1 class="major">Checkout </h1>
</div> 
    <!-- end heading -->
    
    <!-- main content --> 
    
    <form class="checkout">
        <div class="checkout-header">
          <h1 class="checkout-title">
            Informacion pago
            <span class="checkout-price">$$$</span>
          </h1>
        </div>
        <p>
          <input type="text" class="checkout-input checkout-name" placeholder="Your name" autofocus>
          <input type="text" class="checkout-input checkout-exp" placeholder="MM">
          <input type="text" class="checkout-input checkout-exp" placeholder="YY">
        </p>
        <p>
          <input type="text" class="checkout-input checkout-card" placeholder="4111 1111 1111 1111">
          <input type="text" class="checkout-input checkout-cvc" placeholder="CVC">
        </p>
        <p>
          <input type="submit" value="Purchase" class="checkout-btn" (click)="regresar()">
        </p>
      </form>
    
    <!-- end of main cotnent -->