<div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="email" class="form-control" id="InputEmail" placeholder="Ingresa tu Correo"
      [(ngModel)]="correo" name="email">
        <input type="password" class="form-control" id="InputPassword" placeholder="Ingresa tu Contraseña"
      [(ngModel)]="pass" name="passw">
      <button type="button" (click)="datos()" (click)="regresar()">Login</button>
        <p class="message">No tienes una cuenta? <a href="">Regresar</a></p>
      </form>
    </div>
  </div>

